name: Java CI/CD (Spring Boot & Testcontainers)

on:
  pull_request:
    branches: [ master ]

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    services:
      elasticsearch:
        image: elasticsearch:7.17.10
        ports:
          - 9200:9200
        options: >
          --health-cmd="curl http://localhost:9200/_cluster/health"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=10

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: 'maven'

      - name: Wait for Elasticsearch to be ready
        run: while ! curl -s http://localhost:9200/_cluster/health; do sleep 5; done

      - name: Build and Run Tests
        run: mvn clean install -DskipTests=false
        env:
          SPRING_ELASTICSEARCH_URIS: http://localhost:9200

